DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET="vibely_secret_key_123"
CLOUDINARY_CLOUD_NAME="Vibely"
CLOUDINARY_API_KEY="955945159134398"
CLOUDINARY_API_SECRET="3bz4lASDge-6WIHUmnaZfSV6gCc"
PORT=5000
FRONTEND_URL="http://localhost:3000"